:root {
    --main-background-color: rgb(52, 142, 158) 
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: brown;
}

#app-wrapper{
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto; 
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: var(--main-background-color);
    border: none;
}

#food-input {
    width: 50vw;
    max-width: 500px;
    height: 25px;
    border-radius: 15px;
    padding: 0 20px;
    margin: 10px;
}

#recipe-button {
    font-size: 15px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 0 20px;
    margin: 10px;
}

#recipe-button:hover {
    background-color: #0acf56;
    color: white;
}

h2 {
    text-align: center;
    margin: 10px 0 10px 0;
}

#show-recipe {
   display: flex;
   flex-direction: column;
}

#recipe-name {
    margin: 40px 0 10px 0;
    text-align: center;
    font-weight: bold;
    color: var(--main-background-color);
    background: rgba(255, 255, 255, 0.8);
}

#calories {
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--main-background-color);
    width: 150px;
    border-radius: 20px;
    align-self: center;
    padding: 3px;
}

#recipe-info {
    margin: 70px 30px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -10px;
    padding: 20px;
    text-align: left;
    font-weight: normal;
}

.recipe-subheadings {
    font-weight: bold;
    color: var(--main-background-color);
}

#ingredients-list {
    line-height: 175%;
    font-size: 14px;
    padding: 20px
}