* {
    direction: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    max-height: 1200px;
}

#app-wrapper{
    font-family: sans-serif;
    margin: 0 auto;
    border: 1px rgb(230, 230, 230) solid;
    border-radius: 50px;
}

h2 {
    text-align: center;
    margin: 10px 0 10px 0;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    padding: 10px;
    background: rgb(52, 142, 158);
}

#food-input {
    width: 250px;
    height: 30px;
    border: white 0px solid;
    border-radius: 20px;
    padding: 0 20px;
    margin: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#recipe-button {
    width: 150px;
    height: 30px;
    background-color: #f8f8f8;
    border: 0px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
}

#recipe-button:hover {
    width: 150px;
    height: 30px;
    background-color: #F9F6F0;
    border-radius: 20px;
    border: 0px lightgrey solid;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#card-container {
    /* max-width: 500px; */
    min-height: 500px;
    /* border: 1px solid black; */
    /* padding: 20px; */
}

#show-recipe {
    /* max-width: 500px; */
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

#recipe-name {
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: #fffacc 5px solid;
    background: #0000007a;
    padding: 0px 10px 0px 10px;
    margin: 50px 0 50px 0px;
}

#calories, #cuisine-type {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(52, 142, 158);
    width: 150px;
    border-radius: 30px;
    padding: 5px;
    margin: -20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#cuisine-type {
    margin: 0 auto;
}

#the-recipe {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipe-info {
    min-height: 100px;
    background-color: white;
    border-radius: 40px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -10px;
    padding: 20px;
    text-align: left;
    font-weight: normal;
}

.recipe-subheadings {
    font-weight: bold;
    color: rgb(52, 142, 158);
}

#ingredients-list {
    line-height: 175%;
    font-size: 14px;
    padding: 20px
}