* {
    font-family: sans-serif;
}

#food-input {
    width: 350px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 10px;
}

#recipe-button {
    width: 150px;
    height: 100px;
    padding: 10px;
}

#card-container {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    padding: 20px;
}

.cardStyle {
    /* width: 500px;
    height: 200px; */
    background: black;
}